{% extends 'pizzas/base.html' %}
{% block content %}
<div class="col-lg-4 mx-auto p-0 shadow mt-5 ">
    <div class="alert alert-warning text-center">
        <h1>Password change succesful</h1>
    </div>
    <div class="p-4 align-items-center ">
        <p>Your password was changed.</p>
        <a href="{% url 'login' %}" ><input type="submit" value="Login" class="btn btn-success"></a> 
        <a href="{% url 'home' %}" ><input type="submit" value="Home" class="btn btn-success"></a> 
    </div>
</div>
{% endblock content %}
